body {
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.main {
  width: 375px; 
  border: 1px solid white;
  background-color: #e5e5e5;
}

.pg-1 {
  width: 375px;
  height: 718px;
  background-color: white;
  border-bottom-left-radius: 100px;
}

header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px 0 21px; 
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
}

.logo {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 0 24px 10px 24px; 
}

.my-style {
  height: 20px;
  width: 76px;
  left: 12px;
  top: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070FF;
}

.description {
  height: 500px;  
  background-image: url(img/header.png);
  background-size: cover;    
}

.name {  
  padding: 50px 24px 0 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.name p {
  height: 146px;  
  margin: 0px 0 30px 0; 
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  align-items: center;
}

.lets {
  margin: 15px 0 0 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #7f8cff; 
}

.apps {
  display: flex; 
  padding-left: 24px; 
  align-items: center;
  justify-content: space-between;
  width: 150px; 
}

.box1 {
  width: 19.99px;
  height: 19.96px; 
  padding-right: 15px;
}

.box2 {
  width: 4.97px;
  height: 13.72px; 
  padding-bottom: 5px; 
  padding-right: 25px;
}

.box3 {
  width: 20px;
  height: 16px;
  padding-right: 5px; 
}

.box4 {
  width: 17.99px;
  height: 20px; 
}

.box5 {
  width: 14.17px;
  height: 20px; 
  padding-left: 10px;
}
