body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.main {
  width: 375px;
  border: 1px solid white;
  background-color: #e5e5e5;
}

.pg-1 {
  width: 375px;
  height: 718px;
  background-color: white;
  border-bottom-left-radius: 100px;
}

header {
  display: flex;
  padding: 10px 14px 0 21px;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
}

.my-style {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

.logo {
  display: flex;
  margin: 0 24px 10px 24px;
  justify-content: space-between;
  align-items: center;
}

.description {
  background-size: cover;
  background-image: url(img/header.png);
}

.name {
  padding: 50px 24px 0 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.name p {
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0 0 30px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.lets {
  margin: 10px 0 0 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #7f8cff;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

.apps ul {
  list-style: none;
  align-items: center;
}

.apps li { display: inline-block; }

.box1 {
  margin-left: -12px;
  padding-right: 12px;
  padding-top: 0;
}

.box2 { padding-right: 12px; }

.box3 {
  padding-right: 12px;
}

.box4 { padding-right: 12px; }
